In [24]:
import pandas as pd
import numpy as np
import array

In [25]:
%ls titanic

1.csv           20181223_3.csv  20181223_6.csv  gender_submission.csv
20181223.csv    20181223_4.csv  20181223_7.csv  test.csv
20181223_2.csv  20181223_5.csv  20181223_9.csv  train.csv

In [26]:
train = pd.read_csv('titanic/train.csv')
test = pd.read_csv('titanic/test.csv')

In [27]:
train.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [28]:
train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [29]:
train.head(1)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,S

In [30]:
mycols = train.columns.values

In [31]:
mycols = np.delete(mycols, [0,1,3,4,5,8,9,10,11])

In [33]:
mycols

array(['Pclass', 'SibSp', 'Parch'], dtype=object)

In [34]:
# X: 
# Y: 
X = train[mycols].values
Y = train['Survived'].values

In [35]:
df_X = pd.DataFrame(X, columns=mycols)
df_Y = pd.DataFrame(Y, columns=['Survivied'])

In [36]:
df_X.head(1)

   Pclass  SibSp  Parch
0       3      1      0

In [37]:
df_Y.head(1)

   Survivied
0          0

In [38]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=1)

In [39]:
knn.fit(X,Y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=1, p=2,
           weights='uniform')

In [40]:
%ls titanic/

1.csv           20181223_3.csv  20181223_6.csv  gender_submission.csv
20181223.csv    20181223_4.csv  20181223_7.csv  test.csv
20181223_2.csv  20181223_5.csv  20181223_9.csv  train.csv

In [41]:
test = pd.read_csv('titanic/test.csv')
T = test[mycols].values

In [42]:
test.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [43]:
Y_pred = knn.predict(T)
Y_pred
Y_pred.shape

(418,)

In [44]:
sub = pd.read_csv('titanic/gender_submission.csv')

In [45]:
sub.shape

(418, 2)

In [46]:
sub['Survived'] = Y_pred

In [47]:
from datetime import date
dt = date.today()
tstr = dt.strftime('%Y%m%d')
sfname = 'titanic/' + tstr + '.csv'
sfname


sub.to_csv(sfname,index=False)

In [48]:
%ls titanic

1.csv           20181223_4.csv  20181223_9.csv         train.csv
20181223.csv    20181223_5.csv  20181228.csv
20181223_2.csv  20181223_6.csv  gender_submission.csv
20181223_3.csv  20181223_7.csv  test.csv